[submodule "config/nvim/AstroNvim"]
	path = config/nvim/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim.git
[submodule "config/nvim/astro-personal-config"]
	path = config/nvim/astro-personal-config
	url = https://github.com/rick-yao/astro-personal-config.git
[submodule "config/tmux/tmux_plugin/tpm"]
	path = config/tmux/tmux_plugin/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "config/zsh/zsh-nvm"]
	path = config/zsh/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
