//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=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
@infiniteprimes:registry=https://npm.pkg.github.com/
